<p>hobby works!!!!!!!!!!!111111111111111111111</p>
<h1>{{myHobbyItem.name}}</h1>
<h3>Описание</h3>
<p>{{myHobbyItem.description}}</p>

<div class="partInfo">
<!-- <div class="beforeAfter"> -->
    <div class="centerImages">
        <div class="poster">
            <p>Сабж хобби</p>
            <img src="../../assets/images/guitar.jpg" style="margin-right: 20px;">
        </div>
        <div class="poster">
            <p>Один из (Alex de Grassi конкретнее)</p>
            <img src="../../assets/images/alex de grassi 2.png">
        </div>
    </div>
</div>
<!-- </div> -->
