<app-hobby></app-hobby>

<div class="partInfo">

    <app-user></app-user>
    <hr/>
    <app-my-work></app-my-work>
    <hr/>
    <app-my-knowledge></app-my-knowledge>
    <hr/>

    <!-- ниже оффтоп !!! -->
    <p style="text-align: center; margin-top: 100px;">Я</p>
    <p style="text-align: center;">
        <img src="../assets/images/Я.jpg" alt="Моя фотография">
    </p>
    <!-- ... -->

    <div style="text-align: center; margin-top: 100px;"> Ссылки
        <p><a href="https://github.com/ForsakenAnton">GitHub</a></p>
        <p><a href="#">Свитер</a></p>
        <p><a href="#">LinkedIn</a></p>
    </div>

</div>